---
layout: page
title: Blog
---

<!-- <ul class="blog-list">
	{% for blog in site.blog %}
  <div class="container">
	<li class="post-list-layout">
		<div class="blog-preview">

			{% assign image = blog.images[0] %}
		    {% include image.html image=image %}
		    <h3><a href="{{ blog.url }}">{{ blog.title }}</a></h3>
		    <p class="uppercase">{{ blog.author }} . {{ blog.date | date: "%d %b, %Y" }}</p>
		    <p>{{ blog.excerpt}}</p>
		</div>		
	</li>
  </div>
	{% endfor %}
</ul>

<ul class="blog-list">
	{% for blog in site.blog %}
	<li class="article">
		<div class="post-img">
		{% assign image = blog.images[0] %}
		{% include image.html image=image %}
		</div>
		<div class="article-info">	
		<h3><a href="{{ blog.url }}">{{ blog.title }}</a></h3>
		    <p class="uppercase">{{ blog.author }} . {{ blog.date  | date: "%d %b, %Y"}}</p>
		    <p>{{ blog.excerpt}}</p>
		</div>			
	</li>
	{% endfor %}
</ul> -->
<div class="container">
	<ul class="blog-list">
		{% for blog in site.blog %}
<!-- 		<div id="notecards"> -->
		  <div class="notecard">
		    <div class="front">
		      <div class="photo">
		      	{% assign image = blog.images[0] %}
				{% include image.html image=image %}
		      </div>
		    </div>
		    
		    <div class="back">
		      <span class="word">{{ blog.title }}</span>	
		      <div class="definition">
		        {{ blog.excerpt }}
		        
		      </div>
		    </div>
		  </div>
<!-- 		 </div>
 -->		{% endfor %}
	</ul>
</div>