/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
  max-width: 100%;
 
 .img {
      height: auto;
      display: block;
      overflow: hidden;
      }


}

.title {
      
      display: block;
      padding: 0.5em;
      width: 50%;
      text-align: left;
      @media screen and (max-width: $break-large) {
      padding: 10px;
      width: 100%;
      }

.site-title {

  >a {
      @include relative-font-size(4);
      font-family: $title-font-family;

      font-weight: 300;
      line-height: $base-line-height * $base-font-size * 4;
      letter-spacing: -1px;


      @include media-query($on-palm) {
      @include relative-font-size(2.5);
      font-weight: 50;
      line-height: $base-line-height * $base-font-size;
      }

      @include media-query($on-phone) {
      @include relative-font-size(2);
      font-weight: 50;
      line-height: $base-line-height * $base-font-size;
      }

  }

  &,
  &:visited {
    color: darken($grey-color-dark, 25%);
  }

  @include media-query($on-palm) {
      @include relative-font-size(3);
      font-weight: 50;
      line-height: $base-line-height * $base-font-size;

  }

  @include media-query($on-phone) {
      @include relative-font-size(2.25);
      font-weight: 50;
      line-height: $base-line-height * $base-font-size;

  }
}
}

.site-nav {
  


  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #FFF;
    line-height: $base-line-height;
    display: inline;
    border: none;
    background: none;
    text-transform: uppercase;

  

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

.jumbotron {
              background-image: url(/images/motepark1.jpg);
              background-position: center;
              background-size: cover;
              height: 45rem;
              background-repeat: no-repeat;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              object-fit: cover;

              @media screen and (max-height: $break-phone) {
              height: 36rem;
              }


        .heading-text {
          /*font-family: $title-font-family;*/
          font-size: $base-font-size * 2.5;
          color: #FFF; 
          text-shadow: 2px 2px black;
          padding: 1.5em;

            @include media-query($on-phone) {
            @include relative-font-size(1.75);
            padding: 1em;
            }
        }
}

.logo {
  max-height: 10rem;
  float: left;

  @include media-query($on-palm) {
  max-height: 2.5rem;

  }

  @include media-query($on-phone) {
  max-height: 2rem;
  }
}

#search-block {
  background-image: url(/images/logos/mapcontours.jpg);
  background-position: center;
  background-size: cover;
  height: 25rem;
  background-repeat: no-repeat;
  display: block;
  padding-top: 7rem;
  justify-content: center;
  /*align-items: center;*/
  text-align: center;
  object-fit: cover;
  margin-bottom: 2rem;

}

.search-box {
  
  margin: auto; 
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

input[type=text] {
    margin-top: 1rem;
    border: 2px solid $blue-highlight;
    border-radius: 10px;
    padding: 0.5rem;
}

input[type=submit] {
    margin-top: 1rem;
    border: 2px solid $brand-color;
    border-radius: 10px;
    background-color: $green-highlight;
    color: white;
    padding: 0.5rem;
}


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
           
            margin-bottom: $spacing-unit;
            background-color: $grey-color-light;            
            padding: 10px 5px 5px 5px;
            border-radius: 5px;
            overflow: auto;
        }
}

.post-name {
  background: $brand-color;
  color: white;
  text-transform: uppercase;
  font-size: $small-font-size;
  border-radius: 10px;
  float: right;
  margin: 10px, 0, 10px, 0;

          &,
          &:visited {
              color: white;
          }

          &:hover {
              top: 2px;
              
          }      
}



.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}


.nav-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $spacing-unit;


    .btn-default {
        top: 9px;
        right: $spacing-unit / 2;
        color: $brand-color;
        background-color: $grey-color-light;
        border: 5px solid $grey-color-light;
        border-radius: 5px;
        text-align: center;
        margin-right: $spacing-unit;
        font-weight: $base-font-weight * 1.5;
        text-transform: uppercase;
        margin-bottom: $spacing-unit * 0.5;


    }


}

.card-title {
    background-color: $brand-color;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;
    padding: $spacing-unit*0.5;
    border-radius: 5px;

    &:hover {
      color: white;
      text-decoration:  underline;
    }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  background-color: #FFF;

    >img {
              background-position: center;
              background-size: cover;
              width: 100%;
              height: 10rem;
              background-repeat: no-repeat;
              display: flex;
              justify-content: center;
              align-items: center;
              object-fit: cover;
              
             }
}

.post-title {
  /*font-family: $base-font-family;*/
  text-transform: upprcase;
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);

  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}


.location-list {
  li {
    line-style-type: none;
  }

}

/**
 * Images
 */

    .post-img {
        display: inline;
        float: right;
        max-height: 200px;
        max-width: 200px;
        margin: 0.5em;
    }

