<!---
layout: default
-->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

<div class="home">
  <div class="jumbotron">
    <div class="container">

      <h3 class="heading-text">Find your next FREE day out</h3>

      <div class="search-box">
        <form action="/search.html" method="get">
          <label for="search_box"></label>
          <input type="text" id="search_box" name="query" placeholder="location, keyword or town">
          <input type="submit" value="search">
        </form>
      </div>

       <!--  </button> -->
      <div class="nav-button">
          <a href="/category/indoors.html" class="btn btn-default">Indoors</a>
          <a href="/category/outdoors.html" class="btn btn-default">Outdoors</a>

      </div>
  </div>
</div>

<br>
 <main class="page-content" aria-label="Content">
  <div class="wrapper">
     
      <h1 style="text-align: center;">Summer Sun</h1>
        <h4>Here are some great places to visit this Summer.</h4>
<!-- block of 3 featured locations -->
        <div class="container">

          <div class="row">
            
            <div class="col-lg-4 col-md-6">
              <a href="/outdoors/kent/beach/park/2018/05/22/herne-bay.html"><h4 class="card-title">Herne Bay</h4></a>
              <div class="card mb-4 box-shadow">
                
                <img class="card-img-top" data-src="" alt="view of herne bays beach and pier" style="height: 225px; width: 100%; display: block;" src="https://cdn.justaddapicnic.com/kent/outdoors/herne-bay/herne2.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">This classic seaside town has so much to offer all year round.  When the weather is particularly good why not enjoy a splash in the sea, crabbing off the pier, a play in the park and then fish and chips on the beach as the sun starts to go down. Easy to access via road and rail.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="/outdoors/kent/beach/park/2018/05/22/herne-bay.html" class="btn btn-sm btn-outline-secondary">Our Website</a>
                    </div>
                    <div class="btn-group">
                        <a href="https://www.canterbury.co.uk/info/38/herne_bay" class="btn btn-sm btn-outline-secondary" target="_blank">Visit Herne Bay</a>
                    </div>
                  </div>
                </div>
              </div>
            </div> 

            <div class="col-lg-4 col-md-6">
              <a href="/outdoors/essex/sandpit/park/2018/04/30/grays-beach.html"><h4 class="card-title">Sunny Sandpits!</h4></a>
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" alt="Galleon climbing frame at Grays Beach" style="height: 225px; width: 100%; display: block;" src="https://cdn.justaddapicnic.com/essex/outdoors/grays_beach/graysbeach4.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">For the best sandpit in the South East you can't beat Grays Beach Riverside Park.  It has climbing frames for all ages and abilities and is sure to be a big hit.  Only 3 miles from Lakeside Shopping Centre it's perfect when the little ones need to run off some steam.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="/outdoors/essex/sandpit/park/2018/04/30/grays-beach.html" class="btn btn-sm btn-outline-secondary">Our Website</a>
                    </div>
                  </div>
                </div>
              </div>
            </div> 

            <div class="col-lg-4 col-md-6">
              <a href="/outdoors/kent/park/sandpit/2018/01/08/lower-leas-coastal-park.html"><h4 class="card-title">Folkestone Fun</h4></a>
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" alt="Large tree fort in Lower Leas Coastal Park" style="height: 225px; width: 100%; display: block;" src="https://cdn.justaddapicnic.com/kent/outdoors/folkestone_park/Folkestone_12.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Folkestone sea front has undergone a massive revamp in the past few years. The Lower Leas Coastal park offers a wonderful place to play once you've explored Sunny Sands beach, the trendy Harbour Arm and stone beach along Marine Parade. Explore <a href="https://folkestonemuseum.co.uk/visit/">Folkestone Museum</a> too.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="/outdoors/kent/park/sandpit/2018/01/08/lower-leas-coastal-park.html" class="btn btn-sm btn-outline-secondary">Our Website</a>
                    </div>
                    <div class="btn-group">
                        <a href="http://hotelsfolkestone.com/" class="btn btn-sm btn-outline-secondary" target="_blank">Visit Folkestone</a>
                    </div>
                  </div>
                </div>
              </div>
            </div> 


          </div>
  </div>

  <h1 style="text-align: center;">Our Latest Locations</h1>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li class="post-list-layout">
        <!-- {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
 -->    <div class="container">
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <p style="text-transform: uppercase;">
          {% if post.tags.size > 0 %}
            {{ post.tags }}
          {% endif %}
        </p>
        <div class="row index-post-list">
          <div class="col-md-8">
              <p>
                {{ post.excerpt }}
              </p>
          </div>  
          <div class="col-md-4">
            {% assign image = post.images[0] %}
            {% include image.html image=image %}
              <a href="{{ post.url | relative_url }}" class="btn post-name">Let's Go ></a>
          </div>
        </div>

        </div>  
      </li>
    {% endfor %}
  </ul>


<div class="container">
  <div class="page-content">
     {{ content }}
  </div>  
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- Facebook Feed -->
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJustAddAPicnic%2F&tabs=timeline&width=400&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="400" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>

    <div class="col-md-6">
    <!--Twitter feed-->
       <!--  <a href="https://twitter.com/JustAddAPicnic?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @JustAddAPicnic</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

        <a class="twitter-timeline" data-width="400" data-height="500" data-theme="light" href="https://twitter.com/JustAddAPicnic?ref_src=twsrc%5Etfw">Tweets by JustAddAPicnic</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   </div>
  </div>
 </div>
</div>

</main>
    {% include footer.html %}

  </body>

</html>
