<!---
layout: default
-->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

<div class="home">
  <div class="jumbotron">
    <div class="container">

      <h3 class="heading-text">Find your next FREE day out</h3>

      <div class="search-box">
        <form action="/search.html" method="get">
          <label for="search_box"></label>
          <input type="text" id="search_box" name="query" placeholder="location, keyword or town">
          <input type="submit" value="search">
        </form>
      </div>

       <!--  </button> -->
      <div class="nav-button">
          <a href="/category/indoors.html" class="btn btn-default">Indoors</a>
          <a href="/category/outdoors.html" class="btn btn-default">Outdoors</a>

      </div>
  </div>
</div>

<br>
 <main class="page-content" aria-label="Content">
  <div class="wrapper">
     
      <h1 style="text-align: center;">Spring Watch</h1>
        <h4>Here are some great places to visit this Spring.</h4>
<!-- block of 3 featured locations -->
        <div class="container">

          <div class="row">
            
            <div class="col-lg-4 col-md-6">
              <a href="/outdoors/kent/park/2018/02/10/leybourne-lakes.html"><h4 class="card-title">Beautiful Snowdrops</h4></a>
              <div class="card mb-4 box-shadow">
                
                <img class="card-img-top" data-src="" alt="Snowdrops found at Leybourne Lakes" style="height: 225px; width: 100%; display: block;" src="/images/kent/outdoors/leybourne_lakes/leybourne5.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Leybourne Lakes Country Park is a wonderful place for a long walk around some fresh water lakes filled with life.  There is play equipment, toilets and a seasonal cafe. Can you find these beautiful Snowdrops? Its pretty cold out there, so we won't tell if you eat your picnic in the car like we did.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="/outdoors/kent/park/2018/02/10/leybourne-lakes.html" class="btn btn-sm btn-outline-secondary">Our Website</a>
                    </div>
                    <div class="btn-group">
                        <a href="https://www.tmbc.gov.uk/services/leisure-and-culture/parks-and-open-spaces/parks-and-open-spaces-outdoor-facilities/leybourne-lakes-country-park" class="btn btn-sm btn-outline-secondary" target="_blank">Leybourne Lakes</a>
                    </div>
                  </div>
                </div>
              </div>
            </div> 

            <div class="col-lg-4 col-md-6">
              <a href="/outdoors/kent/park/2018/02/21/hilly-fields.html"><h4 class="card-title">Quick Trip Out</h4></a>
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" alt="Hilly Fields Community park play equipment" style="height: 225px; width: 100%; display: block;" src="/images/kent/outdoors/hilly_fields/hillyfields4.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">You need a great local park to help burn off some energy, that isn't going to keep them out all day in the cold.  Try Hilly Fields Community Park, it has some novel climbing equipment and plenty to encourage the little ones to tire themselves out quickly.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="/outdoors/kent/park/2018/02/21/hilly-fields.html" class="btn btn-sm btn-outline-secondary">Our Website</a>
                    </div>
                  </div>
                </div>
              </div>
            </div> 

            <div class="col-lg-4 col-md-6">
              <a href="/indoors/london/museum/2018/02/20/museum-london-docklands.html"><h4 class="card-title">Somewhere Indoors</h4></a>
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" alt="The enterance to the Museum of London Docklands" style="height: 225px; width: 100%; display: block;" src="/images/london/indoors/museum_docklands/docklands1.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">The Museum of London, Docklands offers a wonderful glimpse into the world of the East and West India Docks when they were at their busiest bringing a fascinating array of produce from around the world. Always something going on at the weekends and school holidays.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="/indoors/london/museum/2018/02/20/museum-london-docklands.html" class="btn btn-sm btn-outline-secondary">Our Website</a>
                    </div>
                    <div class="btn-group">
                        <a href="https://www.museumoflondon.org.uk//museum-london-docklands" class="btn btn-sm btn-outline-secondary" target="_blank">MoL Docklands</a>
                    </div>
                  </div>
                </div>
              </div>
            </div> 


          </div>
  </div>

  <h1 style="text-align: center;">Our Latest Locations</h1>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li class="post-list-layout">
        <!-- {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
 -->    <div class="container">
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <p style="text-transform: uppercase;">
          {% if post.tags.size > 0 %}
            {{ post.tags }}
          {% endif %}
        </p>
        <div class="row index-post-list">
          <div class="col-md-8">
              <p>
                {{ post.excerpt }}
              </p>
          </div>  
          <div class="col-md-4">
            {% assign image = post.images[0] %}
            {% include image.html image=image %}
              <a href="{{ post.url | relative_url }}" class="btn post-name">Let's Go ></a>
          </div>
        </div>

        </div>  
      </li>
    {% endfor %}
  </ul>
<div class="container">
  <div class="row">
    <div class="col-md-6">
     {{ content }}
    </div>

    <div class="col-md-6">
    <!--Twitter feed-->
        <a href="https://twitter.com/JustAddAPicnic?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @JustAddAPicnic</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <a class="twitter-timeline" data-width="500" data-height="500" data-theme="light" href="https://twitter.com/JustAddAPicnic?ref_src=twsrc%5Etfw">Tweets by JustAddAPicnic</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   </div>
  </div>
 </div>
</div>

</main>
    {% include footer.html %}

  </body>

</html>
